# OSS2
OSS2_USERNAME=your_oss2_username
OSS2_PASSWORD=your_oss2_password
# OSS2_BASE_URL=https://test-oss2.zzgqsh.com

# SCMS
SCMS_USERNAME=your_scms_username
SCMS_PASSWORD=your_scms_password
# SCMS_BASE_URL=https://test-scms.zzgqsh.com

# Playwright（true/1/yes 开启无头；默认无头）
# HEADLESS=true
